services:
  device1:
    build:
      context: ./device1
    container_name: device1
    networks:
      netA:
        ipv4_address: 10.123.0.10
  device2:
    build:
      context: ./device2
    container_name: device2
    networks:
      netB:
        ipv4_address: 10.124.0.10
  device3:
    build:
      context: ./device3
    container_name: device3
    networks:
      netA:
        ipv4_address: 10.123.0.11
      netB:
        ipv4_address: 10.124.0.11

networks:
  netA:
    driver: bridge
    ipam:
      config:
        - subnet: 10.123.0.0/24

  netB:
    driver: bridge
    ipam:
      config:
        - subnet: 10.124.0.0/24